.gastenboek-chat-container {
  height: calc(100% - 240px);
  overflow-y: auto;
}

.gastenboek-chat-container ul {
  list-style: none;
}

.gastenboek-submit-container {
  height: 90px;
  margin-top: 24px;
}

.gastenboek-message {
  width: 40%;
  background: #ffdfe5;
  padding: 12px;
  border-radius: 20px;
  margin: 18px auto;
  text-align: center;
}

.gastenboek-message-title {
  font-weight: bold;
}

.gastenboek-message-text, .gastenboek-message-foto {
  margin-top: 8px;
  word-break: break-word;
}