.gastenboek-chat-container {
  height: calc(100% - 240px);
  overflow-y: auto;
}

.gastenboek-chat-container ul {
  list-style: none;
}

.gastenboek-submit-container {
  height: 90px;
  margin-top: 24px;
}

.gastenboek-message {
  width: 70%;
  background: #ffdfe5;
  padding: 18px;
  border-radius: 20px;
  margin: 64px auto;
  text-align: center;
  font-size: 20px;
}

.gastenboek-message-title {
  font-weight: bold;
  text-align: right;
  text-transform: capitalize;
}

.gastenboek-message-text, .gastenboek-message-foto {
  margin-top: 8px;
  word-break: break-word;
  text-align: left;
}