body {
  margin: 0px;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  text-align: center;
  /* background: url("/background.jpeg") */
  background: #ffdfe5;
  background: linear-gradient(90deg, #ffdfe5 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, #ffdfe5 100%);
}

.wedding-content {
  position: relative;
  max-width: 800px;
  margin: auto;
  margin-top: 36px;
  height: calc(100vh - 200px);
  overflow-y: auto;
  z-index: 1;
}

.wedding-chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}